@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lalezar&display=swap");
body {
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  direction: rtl;
  text-align: right;

  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);

  background-position: center;
  font-family: "Lalezar", system-ui;
  font-weight: 400;
  font-style: normal;
}
