body {
  padding: 16px;
  --tw-bg-opacity: 1;
  background-color: rgb(203 213 225 / var(--tw-bg-opacity));
  direction: rtl;
  text-align: right;
  background-image: url(/src/assets/00122-26-696281709.png);
  background-size: cover;
  /* background-repeat: no-repeat; */

  backdrop-filter: blur(10px);
  background-position: center;
}
.text-shadow {
  text-shadow: 4px 4px 8px rgba(255, 255, 255, 0.7);
}
