@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: none;
}

/* Hide cursor on touch devices */
@media (hover: none) {
  body {
    cursor: auto;
  }
  .custom-cursor {
    display: none;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

* {
  cursor: none !important;
}

/* But enable default cursor for touch devices */
@media (hover: none) {
  * {
    cursor: auto !important;
  }
}
